@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

@import "base";
@import "storymaps";

body {
	background: {
		color: $darkest-gray;
	}
}

a {
	color: $light-blue;
	&:hover {
		color: $blue;
	}
}

#map .container{
	max-width: none;
}

#story-wrapper{
	position: absolute;
	right: 10%;
	height: 100%;
	width: 23%;
	min-width: 300px;
	max-width: 450px;
}

.touch #story-wrapper{
	width: 100%;
	max-width: none;
	min-width: none;
	right: auto;
	bottom: 15%;
}

.touch.expanded #story-wrapper{
	bottom: 0;
}

#social{
	width: 100%;
	padding-right: 15px;
	margin: 0;
	border-bottom: 1px solid $lighter-gray;
	z-index: 101;
}

.touch #social{
	display: none;
}

.social-text{
	position: relative;
	margin: 15px 10%;
}

#logoLink{
	float: right;
	margin:{
		top: -7px;
		right: -15px;
	}
}

#mobile-social{
	display: none;
	position: absolute;
	width: 14em;
	top: 85%;
	left: 0;
	@include border-bottom-right-radius(0.8em);
	overflow: hidden;
}

.touch .social-share{
	margin-left: 0.8em;
}

.touch #mobile-social{
	display: block;
}

.touch.expanded #mobile-social{
	display: none;
}

#story-pane{
	padding-right: 15px;
	z-index: 100;
}

.touch #story-pane{
	padding-right: 0;
}

.expanded .esriSimpleSlider, .expanded .esriControlsBR{
	display: none;
}

.touch #scroll-indicator{
	display: none;
}

#progress-container{
	position: absolute;
	top: 1%;
	width: 20px;
	height: 98%;
	right: 0;
	@include opacity(0.4);
	overflow: visible;
}

.touch #progress-container{
	display: none;
}

#progress-wrapper{
	position: absolute;
	top: 0;
	width: 4px;
	height: 100%;
	right: 8px;
	overflow: visible;
}

#progress-bar{
	width: 100%;
	background-color: $white;
}

#progress-handle{
	position: absolute;
	height: 30px;
	width: 30px;
	margin-left: -13px;
	margin-top: -15px;
	@include border-radius(15px);
	cursor: move;
}

#progress-point{
	height: 12px;
	width: 12px;
	margin-left: 9px;
	margin-top: 9px;
	background-color: $white;
	@include border-radius(6px);
}

.backdrop{
	position: absolute;
	background: {
		color: $darkest-gray;
	}
	top: 0;
	height: 100%;
	width: 100%;
	@include opacity(0.8);
}

.swiper-container{
	height: 100%;
	width: 100%;
}

.swiper-slide{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.touch .swiper-slide{
	overflow: hidden;
}

.touch.expanded .swiper-slide{
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.item-title{
	color: $white;
	margin: {
		left: 10%;
		bottom: 10%;
		right: 10%;
	}
	font:{
		size: 1.85em;
	}
}

.item-title:first-child{
	margin-top: 10%;
}

.item-description{	
	color: $lightest-gray;
	margin: {
		top: 10%;
		left: 10%;
		bottom: 15%;
		right: 10%;
	}
	font: {
		size: 1.1em;
		family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	}
}

.scroll-up, .scroll-down{
	text: {
		align: center;
	}
	color: $lighter-gray;
	font: {
		size: 2em;
	}
	margin: {
		top: 5%;
		bottom: 5%;
	}
	cursor: pointer;
}

#intro-indicator{
	color: $white;
	text: {
		align: left;
	}
	margin-left: 10%;
}

#intro-indicator span{
	font: {
		size: 2em;
	}
	vertical: {
		align: middle;
	}
}

.text-inicator{
	color: $lighter-gray;
	margin: {
		left: 15px;
		top: -1em;
	}
}

.mobile-details-close{
	display: none;
	color: $white;
	font: {
		size: 1.25em;
	}
	text: {
		align: center;
	}
}

.expanded .mobile-details-close{
	display: block;
}

.expanded .text-inicator{
	display: none;
}

.touch .item-title{
	margin: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.touch.expanded .item-title{
	margin: 10%;
	white-space: normal;
	overflow: hidden;
	text-overflow: inherit;
}

.touch .item-description{
	display: none;
	margin: 10%;
}

.touch.expanded .item-description{
	display: block;
}

#locator-wrapper{
	position: absolute;
	bottom: 20px;
	left: 20px;
	padding: 5px;
	cursor: pointer;
}

.desktop #locator-wrapper{
	animation: showLocator .75s;
	-webkit-animation: showLocator .75s;	
}

#locator-backdrop{
	margin-left: -5px;
}

#locator-toggle{
	display: none;
	position: relative;
	color: $white;
	font: {
		family: $header-font;
	}
	text: {
		align: right;
	}
	padding: {
		top: 2px;
		bottom: 5px;
	}
}

.hidden #locator-toggle, #locator-wrapper:hover #locator-toggle {
	display: block;
}

.disabled #locator-toggle {
	display: none;
}

.desktop #locator-wrapper.hidden{
	bottom: -225px;
	animation: hideLocator .75s;
	-webkit-animation: hideLocator .75s;
}

#locator-wrapper.disabled{
	padding: {
		top: 0;
	}
	bottom: -225px;
}

.expanded #locator-wrapper{
	display: none;
}

#locator-map{
	position: relative;
	background: $darkest-gray;
	height: 220px;
	width: 280px;
	cursor: pointer;
}

#mobile-locator-toggle{
	display: none;
	position: absolute;
	top: 250px;
	color: $white;
	right: 20px;
	padding: {
		top: 10px;
		right: 10px;
		bottom: 10px;
	}
	@include border-bottom-right-radius(10px);
	@include border-bottom-left-radius(10px);
	overflow: hidden;
}

.touch #mobile-locator-toggle.hidden{
	top: 20px;
	right: 0;
	@include border-top-left-radius(10px);
	@include border-bottom-right-radius(0);
	overflow: hidden;
}

.touch #mobile-locator-toggle{
	display: block;
}

#mobile-locator-toggle .icon-map-pin, #mobile-locator-toggle .icon-close{
	position: relative;
	font-size: 1.5em;
	line-height: 0;
	margin-left: 10px;
}

.touch #locator-wrapper{
	top: 20px;
	bottom: auto;
	left: auto;
	right: 20px;
	z-index: 100;
}

.touch #locator-wrapper.disabled, .touch #locator-wrapper.hidden{
	padding: {
		top: 5px;
	}
	right: -290px;
}

.touch #locator-toggle, .touch #locator-wrapper:hover #locator-toggle ,#mobile-locator-toggle.disabled, .expanded #mobile-locator-toggle {
	display: none;
}

.fontello-down-narrow, .fontello-up-narrow, .fontello-down-thick, .fontello-up-thick, .fontello-info-circled, .fontello-info{
	font: {
		family: "fontello";
	}
}

.fontello-toggle-arrow:before{
	font: {
		family: "fontello";
	}
	content: '\e802';
}

.hidden .fontello-toggle-arrow:before{
	content: '\e803';
}

// Locator Animations
@keyframes showLocator
{
from {bottom: -225px;}
to {bottom: 20px;}
}

@-webkit-keyframes showLocator
{
from {bottom: -225px;}
to {bottom: 20px;}
}

@keyframes hideLocator
{
from {bottom: 20px;}
to {bottom: -225px;}
}

@-webkit-keyframes hideLocator
{
from {bottom: 20px;}
to {bottom: -225px;}
}