@import "compass/css3/opacity";
@import "compass/css3/box-shadow";

@import "base";
@import "storymaps";

body {
	background: {
		color: $darkest-gray;
	}
}

#map .container{
	max-width: none;
}

#story-pane{
	position: absolute;
	right: 10%;
	height: 100%;
	width: 23%;
	min-width: 300px;
	max-width: 450px; 
	z-index: 100;
}

.touch #story-pane{
	width: 100%;
	max-width: none;
	min-width: none;
	right: auto;
	bottom: 15%;
}

.touch #story-pane.expanded{
	bottom: 0;
}

.touch #scroll-indicator{
	display: none;
}

.backdrop{
	position: absolute;
	background: {
		color: $black;
	}
	top: 0;
	height: 100%;
	width: 100%;
	@include opacity(0.6);
}

.swiper-container{
	height: 100%;
	width: 100%;
}

.swiper-slide{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.touch .swiper-slide{
	overflow: auto;
}

.item-title{
	color: $white;
	margin: 10%;
	font:{
		size: 1.85em;
	}
}

.item-description{	
	color: $white;
	margin: {
		top: 10%;
		left: 10%;
		bottom: 15%;
		right: 10%;
	}
	font: {
		size: 1.1em;
		family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	}
	text:{
		align: justify;
	}
}

.touch .item-title{
	margin: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.touch .expanded .item-title{
	margin: 5%;
	white-space: normal;
	overflow: hidden;
	text-overflow: inherit;
}

.touch .item-description{
	display: none;
	margin: 5%;
}

.touch .expanded .item-description{
	display: block;
}