<div id="banner" class="region-top">

	<div id="header-text" class="region-center">
		<h1 id="title"><%= data.config.title ? data.config.title : "Add title here" %></h1>
		<h2 id="subtitle"><%= data.config.subtitle ? data.config.subtitle : "Add subtitle here" %></h2>
	</div><!--/header-text-->

	<div id="branding-wrapper" class="region-right">
		<div id="social">
			<a id="smLink" href="http://storymaps.esri.com" target="_blank">A story map</a>&nbsp;
			<span class="icon-facebook social-share"></span>
			<span class="icon-twitter social-share"></span>
			<span class="icon-share social-share"></span>
		</div><!--/social-->
		<div id="logo">
			<a id="logoLink" href="http://www.esri.com" target="_blank">
				<img id="logoImg" src="resources/images/esriGlobeLogow.png" alt="Esri - Home">
			</a><!--/logoLink-->
		</div><!--/logo-->
	</div><!--/branding-wrapper-->

</div><!--/banner-->