---
# Add Page Attributes Here
---

<div id="map" class="region-center"></div>
<div id="locator-wrapper" class="disabled hidden">
	<div id="locator-backdrop" class="backdrop"></div>
	<div id="locator-toggle">Overview Map<span class="icon-toggle-arrow"></span></div>
	<div id="locator-map"></div>
</div>
<div id="story-pane">

	<div class="swiper-container">
		<div class="swiper-wrapper">
			
		</div><!--/swiper-wrapper-->
	</div><!--/swiper-container-->

	<div class="backdrop"></div>

	<div id="progress-container">
		<div id="progress-wrapper">
			<div id="progress-bar"></div>
			<div id="progress-handle"><div id="progress-point"></div></div>
		</div>
	</div>

</div><!--/story-pane-->