---
# Add Page Attributes Here
---

<div id="map" class="region-center"></div>
<div id="locator-wrapper" class="disabled hidden">
	<div id="locator-backdrop" class="backdrop"></div>
	<div id="locator-toggle">Overview Map<span class="fontello-toggle-arrow"></span></div>
	<div id="locator-map"></div>
</div>
<div id="mobile-locator-toggle" class="disabled hidden">
	<div class="backdrop"></div>
	<div class="icon-map-pin"></div>
</div>
<div id="story-wrapper">

	<div id="social" class="region-top">
		<div class="backdrop"></div>
		<div class="social-text">
			<a id="smLink" href="http://storymaps.esri.com" target="_blank">A story map</a>&nbsp;
			<span class="icon-facebook social-share"></span>
			<span class="icon-twitter social-share"></span>
			<span class="icon-share social-share"></span>
			<a id="logoLink" href="http://www.esri.com" target="_blank">
				<img id="logoImg" src="resources/images/esriGlobeLogow.png" alt="Esri - Home">
			</a><!--/logoLink-->
		</div>
	</div>

	<div id="story-pane" class="region-center">

		<div class="swiper-container">
			<div class="swiper-wrapper">
				
			</div><!--/swiper-wrapper-->
		</div><!--/swiper-container-->

		<div class="backdrop"></div>

		<div id="progress-container">
			<div id="progress-wrapper">
				<div id="progress-bar"></div>
				<div id="progress-handle"><div id="progress-point"></div></div>
			</div>
		</div>

	</div><!--/story-pane-->

</div><!--/story-wrapper-->
<div id="mobile-social">
	<div class="backdrop"></div>
	<div class="social-text">
		<a id="smLink" href="http://storymaps.esri.com" target="_blank">A story map</a>&nbsp;
		<span class="icon-facebook social-share"></span>
		<span class="icon-twitter social-share"></span>
		<span class="icon-share social-share"></span>
	</div>
</div>